{% extends "layouts/base.html.twig" %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="card shadow my-4 p-4 mx-5">
        <h1>{{product.title}}</h1>

        <div class="table-responsive mb-2 p-2 rounded">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th>Image</th>
                        <td class="text-center"><img src="{{ asset('uploads/'~product.image) }}" height="250px"></td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ product.category }}</td>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{ product.createdAt ? product.createdAt|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>UpdatedAt</th>
                        <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d') : '' }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex">
                <a class="btn btn-primary" href="{{ path('app_products') }}">Back To List</a>
                {% for role in user.roles %}
                {% if role == "ROLE_ADMIN" %}
                <a class="btn btn-outline-warning mx-1"
                    href="{{ path('app_products_edit', {'id': product.id}) }}">Edit</a>
                {{ include('product/_delete_form.html.twig') }}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}