{% extends "layouts/base.html.twig" %}

{% block title %}Purchases{% endblock %}

{% block body %}
<div class="container">
    <div class="card shadow my-4 p-4 mx-5" style="max-height: 81vh; overflow: scroll;">
        <div class="btn-group w-25">
            <a href="{{ path('app_sales') }}" class="btn btn-sm btn-outline-secondary">Sales</a>
            <a href="{{ path('app_purchases') }}" class="btn btn-sm btn-primary">Purchases</a>
        </div>
        <h1>Purchase List</h1>

        <div class="table-responsive mb-2 p-2 rounded" style="border: solid 1px #AAA">
            <table class="table table-sm">
                <tbody>
                    {% for purchase in purchases %}
                    <tr>
                        <td  class="text-center"><img src="{{ asset('uploads/'~purchase.product.image) }}" height="45px"></td>
                        <td  class="text-center">{{ purchase.createdAt ? purchase.createdAt|date('Y-m-d') : '' }}</td>
                        <td  class="text-center">{{ purchase.product }}</td>
                        <td  class="text-center">{{ purchase.total }}</td>
                        <td  class="text-center">{{ purchase.quantity }}</td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="btn btn-sm btn-primary"
                                    href="{{ path('app_purchases_show', {'id': purchase.id}) }}">Show</a>
                                {% for role in user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                <a class="btn btn-sm mx-1 btn-outline-warning"
                                    href="{{ path('app_purchases_edit', {'id': purchase.id}) }}">Edit</a>
                                {{ include('transactions/purchase/_delete_form.html.twig') }}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('app_purchases_new') }}" class="btn btn-success mx-auto w-25">Create new</a>
    </div>
</div>
{% endblock %}